# Virtual Environment
.venv/

dataset/*.csv

*.pbix

# Python Cache
__pycache__/
*.pyc

# Jupyter Checkpoints
.ipynb_checkpoints/

# Model Files
*.pkl

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log